/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
html, body { height: 100%; }
body {     padding-top: 50px; margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
button:active, button:focus {
    outline: none;
    border: 0;
}
button::-moz-focus-inner {
    outline: none;
    border: 0;
}
button::-webkit-focus-inner{
    outline: none;
    border: 0;
}