<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3">Hello, world!</h1>
        <p>Фраза «Hello, world!», обычно это первый пример программы в учебниках по программированию, и для многих студентов такая программа является первым опытом при изучении нового языка.</p>
        <button mat-raised-button routerLink='/content' >Узнать больше </button>  
      </div>
    </div>
  
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4 item">
          <i class="fab fa-css3-alt" style="color : #673AB7; font-size: 100px"></i>
          <p>CSS — формальный язык описания внешнего вида документа. Преимущественно используется как средство описания, оформления внешнего вида веб-страниц, написанных с помощью языков разметки HTML и XHTML</p>
          <button mat-raised-button  color="primary" routerLink='/content'>Вперед</button>
        </div>
        <div class="col-md-4 item">
          <i class="fab fa-js 3x" style="color : #FFD740; font-size: 100px"></i>
          <p>JavaScript — мультипарадигменный язык программирования. Поддерживает объектно-ориентированный, императивный и функциональный стили. JavaScript обычно используется как встраиваемый язык для программного доступа к объектам</p>
          <button mat-raised-button  color="accent" routerLink='/content' >Вперед</button>
        </div>
        <div class="col-md-4 item">
          <i class="fab fa-html5" style="color : #F44336; font-size: 100px" ></i>
          <p>HTML (от англ. HyperText Markup Language — «язык гипертекстовой разметки») — стандартизированный язык разметки документов во Всемирной паутине. Большинство веб-страниц содержат описание разметки на языке HTML (или XHTML).</p>
          <button mat-raised-button  color="warn" routerLink='/content'>Вперед</button>
        </div>
      </div>
  
      <hr>
  
    </div> <!-- /container -->
  
  </main>
  
  <footer class="container">
    <p>&copy; Company 2017-2018</p>
  </footer>
  
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="/docs/4.3.1/assets/js/vendor/jquery-slim.min.js"><\/script>')</script><script src="/docs/4.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>